* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Dosis', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    background-color: #333;
    padding: 10px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content .logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    /* font-size: 1rem; */
    transition: color 0.3s ease;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: #ffd700;
}

#user_info li {
    position: relative;
}

#user_info li i {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

#user_info li .badge {
    width: 20px;
    height: 20px;
    background-color: rgb(159, 31, 31);
    color: #ebe4e4;
    text-align: center;
    position: absolute;
    border-radius: 50%;
    top: -9px;
    right: -11px;
    font-size: 10px;
    line-height: 20px;
    display: none;
}

.header-content nav ul#user_info .carts-product {
    position: absolute;
    display: none;
    width: 150px;
    top: 46px;
    background: #bebebe;
    padding: 10px;
    border: 1px solid green;
    transition: opacity 0.3s ease,  0.3s ease;
}

.header-content nav ul#user_info .carts-product a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    background: darkgreen;
    padding: 8px;
    display: block;
    transition: background 0.3s ease;
}

.header-content nav ul#user_info .carts-product a:hover {
    background: #006400;
}

#menu-toggle {
    display: none;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
    display: none;
}


/******************************products*************************/

.products {
    width: 60%;
    margin: 10px 0;
}
.products_item{
    display: flex;
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    height: 150px;
}
.product_item_img {
    width: 25%;
    margin-right: 10px;
}

.product_item_des a {
    display: block;
    font-size: 25px;
    color: #333;
    cursor: pointer;}

.product_item_actions {
    flex: 1;
    text-align: right;
    display: flex;
    justify-content: space-between;
    /* justify-content: flex-end; */
    flex-direction: column;
    
}

.product_item_actions .Add-To-Cart {
    display: block;
    margin-left: auto;
    background-color:  rgb(21, 63, 21);;
    color: #fff;
    border: 0;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Dosis', sans-serif;
    margin-top: 10px;
}

.product_item_actions .fav {
    display: block;
    margin-left: auto;
    cursor: pointer;
    width: 30px;
 
}

.itemsDetails img {
    width: 100%;
    margin: 10px 0;
    border: 1px solid #333;
    padding: 2px;
    height: 400px;
    object-fit: cover;
}

#search {
    width: 100%;
    height: 40px;
    display: block;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #bebebe;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Dosis', sans-serif;
}


/****creat product***/
.addItem {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 24px;
    background-color: #508879;
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.addItem :hover{
opacity:0.8 ;
}
.products{
    width: 60%;
    float: left;
    margin: 10px 0;

}
.productfilter{
    width: 35%;
    float: right;
    margin: 10px 0;
}
#size-filter{
    width: 100%;
    height: 40px;
    display: block;
}
.edit{
    display: block;
    width: 140px;
    background-color: green;
    color: #fbf9f9;
    padding: 10px 15px ;
    border: none;

}
/****************************details**********************************/
.itemsDetails {
    background-color: #f8f8f8;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.itemsDetails img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.itemsDetails h2,
.itemsDetails p,
.itemsDetails span {
    display: block;
    margin: 10px 0;
}

.carts-product {
    background-color: #f8f8f8;
    padding: 10px;

    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.carts-product a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.carts-product a:hover {
    color: #555;
}
.qty {
    font-weight: bold;
    color: #008000; 
}

@media screen and (max-width: 768px) {
    .products {
        width: 100%;
        border: 1px solid #ddd;

    }
    .products_item{
        display: inline;
        width: 100%;
        border: 1px solid #ddd;
        margin-bottom: 10px;
        height: 150px;
    }
    .product_item_img {
        width: 100%;
        margin-right: 0;
    }

    .product_item_des a {
        font-size: 20px;
    }

    .product_item_actions {
        /* flex-direction: row; */
        justify-content: flex-end;

    }
    .product_item_actions .Add-To-Cart {
        padding: 8px 15px;
        font-size: 14px;
        margin-left: 250px;
        margin-bottom: 10px;
    }
    .itemsDetails {
        padding: 15px;
    }

    .itemsDetails img {
        max-width: 100%;
    }
    .productfilter{
        width: 100%;
        float:none;
        margin: 10px 0;
    }
}
@media screen and (max-width: 468px) {
    #menu-toggle:checked + .menu-icon {
        display: block;
    }

    #menu-toggle:not(:checked) + .menu-icon {
        display: block;
    }

    .header-content nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
    }

    .header-content nav.show {
        display:block;
    }

    .header-content nav ul li {
        width: 100%;
        text-align: center;
        margin: 10px 0;
  }

    .header-content .menu-toggle {
        display: block;
        cursor: pointer;
        color: #fff;
        font-size: 24px;
    }
    .header-content nav ul#user_info .carts-product {
        position: absolute;
        display: none;
        width: 130px;
        top: 46px;
        background: #bebebe;
        padding: 10px;
        border: 1px solid green;
        transition: opacity 0.3s ease,  0.3s ease;
    }
    #user_info li .badge {
        width: 20px;
        height: 20px;
        background-color: rgb(159, 31, 31);
        color: #ebe4e4;
        text-align: center;
        position: absolute;
        border-radius: 50%;
        top: -18px;
        right: 15px;
        font-size: 10px;
        line-height: 20px;
        display: none;
    }

    .product_item_actions .Add-To-Cart {
        padding: 8px 15px;
        font-size: 14px;
        margin-left: 30px;
        margin-bottom: 10px;
    }

    .productfilter{
        width: 100%;
        float:none;
        margin: 10px 0;
    }
    #size-filter{
        width: 100%;
        height: 40px;
        display: block;
    }
}